
/* setari GENERALE */
*{
  box-sizing:border-box;
}
body{
  background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png') repeat center;
  font-family: 'Libre Baskerville', serif;
  font-size: 1.125rem;
  line-height: 1.5;
  color: black;
}

/* Single-direction margin declaration to establish vertical rhythm. */
h1,h2,h3,ul,p,img {
    margin-bottom: 1.5rem;
}

.locations,
.program,
.gift,
.qa,
.contact {
  width: 95%;
  margin: 1.5rem auto;
  padding: .6rem 1rem;
  text-align: center;
}

h1{
  font-family: 'Great Vibes', cursive;
}
h1{
  font-size: 3rem;
}

h2{
  font-size: 1.5rem;
}

a{
  text-decoration:none;
  color: #bd806e;
}

a:hover{
  color: #eda087;
  transition: color .5s ease-in-out;
}


/*=== ANTET ===*/



.cover{
  background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg') no-repeat 70% center/cover;
  height:100vh;
  width:100vw;
  text-align:center;
  display:table;
}

.dates{
  display:table-cell;
  vertical-align: middle;
}

.color{
   background: hsla(100,0%,0%,.6);
   color:hsla(0,0%,100%,.9);
   margin: 0 auto;
   padding: .625rem;
}

.color h1{
  color:gold;
  font-size:3.5rem;
  margin-bottom: 0;
}
.color h2{
  font-family: 'Libre Baskerville', serif;
  font-size: 1.25rem;
  letter-spacing: .15rem;
  
}
.color h2::after{
  display: block;
  content: "";
  background-color: #fff;
  height: 1px;
  width: 12.515625rem;
  margin: .5rem auto;
}
hr{
  width:8rem;
  margin-top: 2%;
}
.dt::before, .dt::after {
  display: inline-block;
  content: "" ;
  background-color: #fff;
  height: 1px;
  width: 1.5rem;
  vertical-align: middle;
  margin: 0.5rem;
}

@media (min-width: 768px) {
  .cover{
    background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg') no-repeat center/cover;
  }
  .color{
    padding: 1.25rem;
    border-radius: 4px;
    width: 50%;
  }
  .color h1{
    font-size:8rem;
  }
  .color h2{
    text-transform:uppercase;
    
  }
}

/* LOCATII */

.blurb img{
  height: 7rem;
}

.blurb h2{
  font-weight:800;
}

.blurb div{
  font-family: 'Muli', sans-serif;
}

.blurb::after{
  display: block;
  content: "";
  background-color: black;
  height: 3px;
  width: 25vw;
  margin: 2rem auto;
  
}

@media(min-width: 768px){
  
  
  .blurb {
    display:inline-block;
    width:30%;
    padding: 1.5rem;
    margin: .5rem;
  }
  .blurb::after{
    display:none;
  }
}

/* MEREU tinem structura si prezentarea => separate */

/*PROGRAM*/

.program {
  background-color:hsla(100,0%,0%,.6);
  /*Fundalul negru transparent apare ca gri mediu și afișează modelul elementului body sub el=> efect frumos de hârtie în 2 culori.*/
  color: #d2ba87;
  font-family: 'Muli', sans-serif;
  text-align:left;
  width: 100vw
}
.program h1{
  margin-top: 1rem;
  text-align: center;
  
}
.program h2{
  font-style: italic;
}
.program ul {
  letter-spacing: .025rem;
  
}

@media (min-width: 768px){
  
  .program-wrapper {
  margin: 0 auto;
  width:30%;
  }
}



/* GIFTs */
.gift img{
  height: 8rem;
}
.gift p:last-child{
  margin-bottom:0;
}

/*Q and A*/
.qa {
  background: hsla(100,0%,0%,.6);
  color: #d2ba87;
  width: 100vw;
  text-align: center; 
}
.qa p{
  text-align:left;
  font-family: 'Muli', sans-serif;
}
.question-group::after{
  content: "";
  display: block;
  background-color: #d2ba87;
  width:40vw;
  height: 2px;
  margin: 1.5rem auto;
}
.q{
  font-weight:700;
  margin-bottom: .5rem;
}

.a{
  margin-bottom: 1.5rem;
}

@media(min-width: 768px){
  
  .question-group{
    display:inline-block;
    width: 30%;
    margin: .5rem;
    padding: 1.5rem;
    vertical-align: top;
  }  
  .question-group::after{
    display:none;
  }
  .question-group h2{
    text-align:left;
  }
}
/*Subsol*/

footer{
  background-color: #606060;
  color:white;
  font-size: 0.8rem;
  text-align:center;
  font-family: 'Muli', sans-serif;
  width:100vw;
  height: 4.375rem;
  display:table;
}
.footer-wrapper {
  display: table-cell;
  vertical-align: middle;
  padding: .5rem 6.5rem;
}

footer p {
  margin-bottom: 0;
}

footer small {
  line-height: 1.5;
}
@media(min-width: 768px){
  min-height: 7vh;
}